<h1>Publier un projet</h1>
<form #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)">
  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Nom</mat-label>
    <input matInput placeholder="Entrez le nom du projet" name="name" [(ngModel)]="project.name" required>
    @if(projectForm.submitted && projectForm.controls['name']?.errors?.['required']){
      <mat-error >
        Name is required
      </mat-error>
    }

  </mat-form-field>

  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Departement</mat-label>
    <input matInput placeholder="Entrez le department" name="department" [(ngModel)]="project.department" required>
    @if(projectForm.submitted && projectForm.controls['department']?.errors?.['required']){
      <mat-error>
        Department is required
      </mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Ville</mat-label>
    <input matInput placeholder="Entrez la ville" name="city" [(ngModel)]="project.city" required>
    @if(projectForm.submitted && projectForm.controls['city']?.errors?.['required']){
      <mat-error >
        City is required
      </mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="Entrez la description" name="description" [(ngModel)]="project.description" required></textarea>
    @if(projectForm.submitted && projectForm.controls['description']?.errors?.['required']){
      <mat-error >
        Description is required
      </mat-error>
    }

  </mat-form-field>

  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Latitude</mat-label>
    <textarea matInput placeholder="Entrez la Latitude" name="latitude" [(ngModel)]="project.latitude" required></textarea>
    @if(projectForm.submitted && projectForm.controls['description']?.errors?.['required']){
      <mat-error >
        Latitude is required
      </mat-error>
    }

  </mat-form-field>

  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Longitude</mat-label>
    <textarea matInput placeholder="Entrez la Longitude" name="longitude" [(ngModel)]="project.longitude" required></textarea>
    @if(projectForm.submitted && projectForm.controls['description']?.errors?.['required']){
      <mat-error >
        Longitude is required
      </mat-error>
    }

  </mat-form-field>

  <div mat-dialog-actions style="justify-content: flex-end;">
    <button mat-button type="submit" [disabled]="!projectForm.valid">Create Project</button>
  </div>
</form>
