.container{
  padding: 30px;
  margin: 30px;
}
table{
  justify-content: center;
  padding: 50px;
  background-color: whitesmoke;
  border-radius: 30px;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.15);
}
