.carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .top-section {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  img {
    width: 100px;
    height: auto;
  }

  .text-section {
    flex: 1;
    padding-left: 20px;
  }

  .title {
    font-size: 2rem;
    margin: 0;
  }

  .location {
    font-size: 1.5rem;
    margin: 0;
  }

  .description {
    margin-top: 20px;
    font-size: 1rem;
  }
}
