.mat-toolbar{
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  background-color: #0f154c;
  display: flex;
  position: fixed;
}.mat-button{
   color: white;
 }
.spacer{
  flex: 1 1 auto;
}
//responsive
@media (min-width: 768px) {
  button{
    display:none;
  }
}
@media(max-width: 768px){
  .pc-layout{
    display: none;
  }
}
