.mat-toolbar{
  background-color: cornflowerblue;
  color: white;
}.mat-button{
   color: white;
 }
span{
  flex: 1 1 auto;
}

//responsive
@media (min-width: 768px) {
  button{
    display:none;
  }
}
@media(max-width: 768px){
  .pc-layout{
    display: none;
  }
}
