/* report-list.component.css */
.container {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border-radius: 16px;
  min-height: 95vh;
  width: 75%;
  margin: 80px auto;
    h1{
      font-family: "Candara", sans-serif;
      font-size: 3rem;
      margin-bottom: 24px;
      font-weight: 600;
      color: #1a1a1a;
      letter-spacing: -0.5px;
    }
}

.add-report-button {
  background-color: green;
  margin-bottom: 16px;
}
.category {
  background-color: #f1f1f1;
  border-radius: 8px;
  margin-bottom: 20px;
  width: 70vw;
  height: auto;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.category span {
  font-size: 1.2rem;
  font-weight: 500;
  color: #000000;
  display: block;
  margin-bottom: 8px;
}

.category mat-list {
  padding-left: 16px;
}

.category mat-list-item {
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

.category button {
  background-color: #f44336;
  color: white;
  border-radius: 4px;
  padding: 8px 16px;
  margin-top: 8px;
  transition: background-color 0.3s ease;
}

.category button:hover {
  background-color: #e53935;
}

.category mat-list-item:last-child {
  border-bottom: none;
}
