<div class="container" *ngIf="project">
  <mat-card class="project-card">
    <mat-card-header>
      <mat-card-title>
        <a><strong>{{ project.name }}</strong></a>
      </mat-card-title>
      @if(userRole == 'entreprise' || userRole == 'admin'){

      <mat-card-actions class="company_actions">
        <a mat-raised-button class="update" (click)="editProject()">Modifier</a>
        <a mat-raised-button class="close">Clôturer</a>
        <a mat-raised-button class="delete" (click)="deleteProject()">Supprimer</a>
      </mat-card-actions>
    }
    @if(userRole == 'citoyen'){
      <mat-card-actions class="citoyen_actions">
        <a *ngIf="!isFavorite" mat-raised-button class="update" (click)="addToFavorites()">Mettre en favoris</a>
        <a *ngIf="isFavorite" mat-raised-button class="update" (click)="removeFromFavorites(project.id)">Supprimer des favoris</a>
      </mat-card-actions>
    }
    </mat-card-header>

    <mat-card-content class="content">
      <mat-card-content class="details">
        <p><strong>Filière :</strong> {{ project.filiere }}</p>
        <p><strong>Mesure :</strong> {{ project.mesure }}</p>
        <p><strong>Mesure Light :</strong> {{ project.mesure_light }}</p>
        <p><strong>Volet relance :</strong> {{ project.volet_relance }}</p>
        <p><strong>Description :</strong><br/> {{ project.description }}</p>
      </mat-card-content>

      <mat-card-content class="location">
        <div class="map-container">
          <div id="map"></div>
        </div>
        <mat-card-content class="address">
          <p><strong>Ville :</strong> {{ project.city }}</p>
          <p><strong>Département :</strong> {{ project.department }}</p>
        </mat-card-content>
      </mat-card-content>

      <mat-card-content class="status">
        <p><strong>Utilisateur :</strong> {{ project.user_id }}</p>
        <p><strong>Entreprise :</strong> {{ project.company_id }}</p>
        <p><strong>Status :</strong> {{ project.status }}</p>
        <p><strong>Date de création :</strong> {{ project.created_at }}</p>
        <p><strong>Date de modification :</strong> {{ project.updated_at }}</p>

        @if(userRole != 'citoyen' && userRole != null){
        <!-- Bouton pour consulter les documents si accès autorisé -->
        <button *ngIf="canAccess" mat-raised-button color="primary" (click)="goToProjectReport()">Consulter les documents</button>

        <!-- Affichage en fonction du statut de la demande -->
        <button *ngIf="!canAccess && requestStatus === 'none'" mat-raised-button color="primary" (click)="requestAccess()">Demander l'accès</button>
          <p *ngIf="requestStatus === 'pending'">Demande en attente...</p>
          <p *ngIf="requestStatus === 'rejected'">Accès refusé !</p>
          <p *ngIf="requestStatus === 'approved'">Accès accordé !</p>



        <button mat-raised-button color="primary" (click)="openRendezVousModal()">
          Gérer les rendez-vous
        </button>
      }
      </mat-card-content>
    </mat-card-content>
  </mat-card>
</div>
