.admin-dashboard-container {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  width: 100%;
  margin: 50px auto;
  box-sizing: border-box;
  padding: 0 20px;
}

.appointments-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-height: 90vh;
  overflow-y: auto;
  padding-right: 12px;
}

.appointments-title {
  background-color: #1a237e;
  width: 84%;
  align-self: center;
  margin: 10px 0;
  transition: all 0.3s ease;
  overflow: hidden;
  color: white;
  padding: 15px;
  text-align: center;
}

.appointment-card {
  width: 90%;
  align-self: center;
  margin: 10px 0;
  transition: all 0.3s ease;
  color: black;
  padding: 15px;
  text-align: center;
  border: #1a237e solid 8px;
  border-radius: 15px;
}

.appointment-header {
  color: white;
  padding: 15px;
}

.appointment-title {
  border-radius: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: rgb(211, 211, 211);
  padding: 10px;
  margin: 10px 0;
  color: black;
}

.appointment-content {
  padding: 16px;

  p {
    word-wrap: break-word;
    white-space: normal;
    word-break: break-word;
  }
}

.appointment-actions {
  color: white;
  display: flex;
  justify-content: flex-end;
  gap: 10px;

  button {
    margin-left: 10px;
  }
}

.no-appointments-card {
  width: 100%;
  margin: 10px 0;
  border-radius: 15px;
  background-color: #f5f5f5;
  text-align: center;
  padding: 20px;
}

.appointment-form-card {
  align-items: center;
  width: 100%;
  margin: 20px 0;
  border-radius: 15px;
}

.appointment-form-header {
  color: white;
  padding: 15px;
  margin-bottom: 15px;
}

.appointment-form-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.appointment-form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  color: white;

  button {
    margin-left: 10px;
  }
}
.mat-mdc-card-header{
  align-self: center;
  padding: 10px 10px 10px;
}
mat-form-field,
mat-select,
mat-input,
textarea {
  width: 100%;
  box-sizing: border-box;
}

// ---------------------------------------- Boutons ----------------------------------------
.mat-mdc-button{
  color: white;
}
.accept-button {
  background-color: #1a237e;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #3f51b5;
  }

  &:disabled {
    background-color: #a5d6a7;
    cursor: not-allowed;
  }
}

.reject-button {
  background-color: red;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #e57373;
  }

  &:disabled {
    background-color: #ef9a9a;
    cursor: not-allowed;
  }
}

.save-availability-button {
  margin: 10px;
  background-color: #1a237e;
  color: white !important;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-weight: bold;
  transition: background-color 0.3s;

  &:hover {
    background-color: #3f51b5;
  }

  &:disabled {
    background-color: #b0bec5;
    cursor: not-allowed;
  }
}

.delete-button {
  background-color: red;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-weight: bold;
  transition: background-color 0.3s;

  &:hover {
    background-color: #e57373;
  }

  &:disabled {
    background-color: #b0bec5;
    cursor: not-allowed;
  }
}

.edit-button {
  background-color: #1a237e;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-weight: bold;
  transition: background-color 0.3s;

  &:hover {
    background-color: #3f51b5;
  }

  &:disabled {
    background-color: #b0bec5;
    cursor: not-allowed;
  }
}

.close-form-button {
  background-color: red;
  border-radius: 4px;
  padding: 10px 20px;
  font-weight: bold;

  &:hover {
    background-color: #e57373;
  }
}
.submit-appointment-button{
    background-color: #1a237e;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: bold;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: #3f51b5;
    }
  
    &:disabled {
      background-color: #b0bec5;
      cursor: not-allowed;
    } 

}

// ---------------------------------------- Datepicker / Form ----------------------------------------

mat-error {
  margin-bottom: 15px;
}

mat-select,
mat-option {
  background-color: white !important;
  color: black !important;
}

mat-option:hover {
  background-color: #f1f1f1 !important;
}

mat-option.mat-selected {
  background-color: #3f51b5 !important;
  color: white !important;
}

input[type="date"] {
  background-color: white;
  color: black;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
}

.mat-datepicker-toggle {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

mat-form-field input[type="date"] {
  padding-right: 40px;
}

::ng-deep .highlighted-date .mat-calendar-body-cell-content {
    background-color: #a5d6a7;
    border-radius: 50%;
    color: black;
    font-weight: bold;
  }
  
  ::ng-deep .unavailable-date .mat-calendar-body-cell-content {
    background-color: #e0e0e0;
    border-radius: 50%;
    color: #4e4e4e;
    opacity: 0.8;
  }
  

  ::ng-deep .date-time-group {
  display: flex;
  flex-direction: row;
  gap: 16px;
  color: black;

  mat-form-field {
    color: black;
    flex: 1 1 200px;
    min-width: 150px;
  }
}

.save-availability-content {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.availability-content {  
  align-self: center;
  width: 90%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: black;
}


.rec-availability-card {
  padding: 20px;
  background-color: #f9f9f9;

  mat-card-content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    mat-label {
      font-weight: bold;
      margin-bottom: 8px;
    }

    .weekdays-container {
      display: flex;
      justify-content: space-between;
      gap: 20px;
    
      mat-selection-list {
        flex: 1 1 45%;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 10px;
        background-color: #fff;
    
        .mat-list-option {
          margin-bottom: 5px;
        }
      }
    }
    .weekdays-list {
      display: grid;
      grid-template-columns: 1fr 1fr;;
      gap: 8px;
    }
    .time-inputs {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;

      .form-field {
        flex: 1 1 200px;
        min-width: 150px;
      }
    }

    .recurrence-content {
      display: flex;
      gap: 10px;
      margin-top: 10px;

      mat-radio-group {
        display: flex;
        gap: 10px;
        margin-top: 10px;
  
        mat-radio-button {
          color: black;
        }
      }
    }
  }

  mat-card-actions {
    display: flex;
    justify-content: flex-end;

    button {
      background-color: #1a237e !important;
      color: white !important;
      font-weight: bold;
      padding: 10px 20px;
      border-radius: 4px;
      transition: background-color 0.3s;

      &:hover {
        background-color: #3f51b5 !important;
      }
    }
  }
}
