<h2>Gestion des rendez-vous</h2>

<!-- Condition si la liste de rendez-vous est vide ou non -->
<div>
  
  <mat-card class="appointment-card" *ngFor="let rdv of rendezVousList">
    <mat-card-header>
      <mat-card-title>
        {{ 'Nouveau rendez-vous' }} - 
        {{ rdv.date | date:'dd/MM/yyyy' }} à {{ rdv.hour }} avec -
        {{ rdv.user?.name || 'Nom inconnu' }} 
        {{ rdv.status | uppercase }} - 
      </mat-card-title>    
    </mat-card-header>

    <mat-card-content>
        <p><strong>Message:</strong> {{ rdv.message || 'Pas de message' }}</p>
    </mat-card-content>
    
    <mat-card-actions>
      <!-- Boutons pour l'entreprise -->
      <ng-container *ngIf="(userRole === 'entreprise' || userRole === 'administrator') && rdv.status !== 'approved' && rdv.status !== 'rejected'">
        <button mat-raised-button class="accept-button" (click)="acceptRendezVous(rdv.id)">Accepter</button>
        <button mat-raised-button class="reject-button" (click)="rejectRendezVous(rdv.id)">Refuser</button>
      </ng-container>

      <!-- Boutons pour la collectivité -->
      <ng-container *ngIf="userRole === 'communaute' || userRole === 'administrator'">
        <!-- Bouton Modifier uniquement visible si le statut n'est pas 'approved' ou 'rejected' -->
        <button *ngIf="rdv.status !== 'approved' && rdv.status !== 'rejected'" 
                mat-raised-button color="primary" type="submit" 
                (click)="updateRendezVous(rdv.project.id)">
          Modifier le rendez-vous
        </button>   
        <!-- Bouton Supprimer toujours visible -->
        <button mat-button type="button" (click)="deleteRendezVous(rdv.id)">
          Supprimer
        </button>
      </ng-container>

    </mat-card-actions> 
  </mat-card>

  <!-- Template à afficher quand il n'y a pas de rendez-vous -->
  <ng-template>
    <mat-card class="no-appointments-card">
      <mat-card-content>
        <p>Pas de rendez-vous.</p>
      </mat-card-content>
    </mat-card>
  </ng-template>

  <!-- Formulaire pour définir les disponibilités -->
  <div *ngIf="(userRole === 'entreprise' || userRole === 'administrator')">
    <form (ngSubmit)="saveAvailabilities()">
      <mat-card class="appointment-form-card">
        <mat-card-header>
          <mat-card-title>Définir les disponibilités</mat-card-title>
        </mat-card-header>
  
        <mat-card-content>
          <!-- Champ pour la date -->
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Date</mat-label>
            <input matInput type="date" [(ngModel)]="selectedDate" name="selectedDate" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
  
          <!-- Champ pour l'heure de début -->
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Heure de début</mat-label>
            <input matInput type="time" [(ngModel)]="start_time" name="start_time" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
  
          <!-- Champ pour l'heure de fin -->
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Heure de fin</mat-label>
            <input matInput type="time" [(ngModel)]="end_time" name="end_time" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
        </mat-card-content>
  
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit">Sauvegarder</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
  
  
  <!-- Formulaire pour créer ou modifier un rendez-vous -->
  <div *ngIf="userRole === 'communaute' || userRole === 'administrator'">
    <form [formGroup]="form" (ngSubmit)="submitForm()">
      <mat-card class="appointment-form-card">
        <mat-card-header>
          <mat-card-title>{{ isEditing ? 'Modifier un rendez-vous' : 'Prendre un rendez-vous' }}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <!-- Champ pour la date -->
          <mat-error *ngIf="form.get('date_hour')?.hasError('required')">
            La date est requise.
          </mat-error>
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Date</mat-label>
            <input matInput type="date" formControlName="date_hour" [min]="minDate">
          </mat-form-field>

          <!-- Champ pour l'heure -->
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Heure</mat-label>
            <mat-select formControlName="hour" required>
              <mat-option *ngFor="let hour of hours" [value]="hour">{{ hour }}</mat-option>
              <mat-option *ngIf="hours.length === 0" disabled>
                Aucune heure disponible pour cette date.
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('hour')?.hasError('required')">
              L'heure est requise.
            </mat-error>
          </mat-form-field>

          <!-- Champ pour le message -->
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Message</mat-label>
            <textarea matInput formControlName="message"></textarea>
            <mat-error *ngIf="form.get('message')?.hasError('maxlength')">
              Le message ne doit pas dépasser 500 caractères.
            </mat-error>
          </mat-form-field>
        </mat-card-content>

        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
            {{ isEditing ? 'Mettre à jour' : 'Prendre' }} rendez-vous
          </button>
          <button mat-button type="button" (click)="close()">Fermer</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
